    html {
      background: url(../img/bg.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    @font-face {
    font-family: 'Helvetica Neueregular';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
header{
  height: 36px;
  background: #1b5288;
}
header nav,
header>a,
header p{
  float: right;
} 
header nav ul{
  margin-right: 13px;
  list-style: none;
  font-size:0;
}
header nav ul li{
  display: inline-block;
}
header nav ul li a{
  display: inline-block;
  height: 36px;
  padding: 0 10px 0 13px;
  color: #60b5ed;
  font: 14px/36px 'Helvetica Neueregular', sans-serif;
  text-decoration: none;
  transition: all 0.2s linear;
}
header nav ul li a:hover{
  color: white;
  background: #4eabda;
}
header>a{
  display: inline-block;
  padding: 0 17px 0 50px;
  margin: 2px 0 3px 0;
  border-left: 1px solid #56a2dc;
  height: 31px;
  background: url(../img/flag.png) 20px 5px no-repeat;
  color: #fefefe;
  font: 14px/31px 'Helvetica Neueregular', sans-serif;
  text-decoration: none;
}
header p{
  margin-right: 20px;
  padding: 0 11px 0 13px;
  border: 1px solid #51b1dc;
  border-top: none;
  background: linear-gradient(to bottom, #51b1dc, #2e7ac4);
  color: white;
  font: 14px/35px 'Helvetica Neueregular', sans-serif;
}
header p a{
  color: white;
}

/*    ======================*/

    div.overlap {
      text-align: center;
      color: #fff;
      position: relative;
      width: 560px;
      margin: auto;
      top:110px;
      background-color: rgba(0, 0, 0, 0.6);
      overflow: auto;
    }

    .olhead {
      margin: 20px;
      font: 24px 'Helvetica Neueregular', Tahoma;
    }

    .olbody {
      padding: 34px 15px 20px 15px;
    }
    .middle {
      display: inline;
      margin: 0 auto;
      width: 125px;
    }

    h3:before, h3:after {
      content: "";
      margin: 2px;
      position: relative;
      display: inline-block;
      width: 135px;
      height: 1px;
      vertical-align: middle;
      border-bottom: 1px solid rgb(169, 169, 169);
      box-shadow: 0px 1px 4px 0px #000;
    }

    .ou{
      margin: 30px 0 23px 0;
    }

    span.ou {
      margin-top: 30px;
      font-size: 14px 'Helvetica Neueregular', Tahoma;
      color: #999;
    }

    input.textform{
      box-shadow: 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
      background-image: -webkit-linear-gradient(bottom, #111, #0e0d0d);
      background-image: -moz-linear-gradient(bottom, #111, #0e0d0d);
      background-image: -o-linear-gradient(bottom, #111, #0e0d0d);
      background-image: -ms-linear-gradient(bottom, #111, #0e0d0d);
      background-image: linear-gradient(to top, #111, #0e0d0d);
      width: 284px;
      height: 41px;
      border: none;
      margin: 9px;
      text-align: left;
      padding-left: 20px;
      color: #fff;
    }

    input.textform:focus {    
      -webkit-box-shadow: 0 0 9px rgba(47,123,197,.77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
      -moz-box-shadow: 0 0 9px rgba(47,123,197,.77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
      box-shadow: 0 0 9px rgba(47,123,197,.77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
      background: rgba(0, 60, 189, 0.5);
    }
    .spam {
      display: inline-block;
      font: 14px 'Helvetica Neueregular', Tahoma;
      padding: 12px;
      margin-left: -78px
    }

    .text_checkbox{
      padding-left: 7px;
    }

    .footer {
      margin: 15px;
      font: 11px 'Helvetica Neueregular', Tahoma;
      color: #ccc;
      line-height: 2;
    }

    .line{
      position: relative;
      background-color: #b9c5ad;
      height: 2px
    }